@inherits LayoutComponentBase

<div>
    <div>
        <NavMenu />
    </div>
    <br />
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@*<footer class="border-top footer text-muted fixed-bottom">
        <div class="container mt-4 mb-4">
            &copy; 2020-2021 - FBISD
        </div>
    </footer>*@

<footer class="container border-top mt-4 mb-4">
    <p>
        Fort Bend ISD  |  16431 Lexington Blvd. | Sugar Land, TX 77479 | Phone: (281) 634-1000
    </p>
</footer>

