/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.imageThumbnail {
    height: 200px;
    width: auto;
}

.brand {
    height: 50px;
}

body {
    /* padding-top: 50px; */
    /* padding-bottom: 20px; */
    background-color: white;
}

.body-test {
    border-left: 14px solid green;
    border-right: 14px solid green;
    border-bottom: 14px solid green;
}

.body-dev {
    border-left: 14px solid blue;
    border-right: 14px solid blue;
    border-bottom: 14px solid blue;
}
#fb-header-stripe-test, #fb-header-stripe-test a, #fb-header-stripe-dev, #fb-header-stripe-dev a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: green;
    text-align: center;
    min-height: 18px;
    text-decoration: none;
}

#fb-header-stripe-dev, #fb-header-stripe-dev a {
    background-color: blue;
}
